<div>
	<h1>
		Andre' Jones
	</h1>
	<p>this is some stuff</p>
</div>
<div class="col-md-3">
	<div class="col-md-12 well box1">
		hi
	</div>
	<div class="col-md-12 well box1">
		hi
	</div>
</div>
<div class="col-md-3 well box2">
	hi
</div>
<div class="col-md-3 well box3">
	hi
</div>
