/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$background_color: lightgrey;
$nav_color: #222222;

@for $i from  1 through 3 {
	.box#{$i} {
		margin-right: 20px;
	  	@if $i == 1 {
	  		height: 30px;
	  	}@else if $i == 2 {
	  		height: 60px;
	  	}@else{
	  		height: 120px;
	  	}
	}
}

html, body {
	height: 100%;
	width: 100%;
	background-color: $background_color;
}

section.col-sm-1 {
	background: $nav_color;
	position: fixed;
	height: 100%;
	@media screen and (max-width: 950px) {
		display: none;
	}
}
nav{
  padding: 7px;
	&.navbar-inverse {
		border-color: $nav_color;
	}
	.container {
	  margin-top: 0px;
	}
	p {
	  color: lightgrey;
	  font-family: 'Raleway', sans-serif;
	}
}
	
.container{
	margin-top: 50px;
}

.wrapper {
	height: 100%;
	width: 100%;
	background: $background_color;
	padding-top: 50px;
}

.profile_image {
  height: 250px;
  background-color: rgb(192, 13, 7);
  margin-bottom: 20px;
  img {
   width: 150px;
   height: 150px;
   position: absolute;
   left: 50%;
   top: 50%; 
   margin-left: -75px;
   margin-top: -75px;
  }
}

.Mont {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  span {
    font-weight: normal;
    color: #555;
  }
  #title {
    text-align: center;
  }
}

h2.Mont {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

#donate {
  border-top: 5px solid #FAFAFA;
  overflow: hidden;
}

p {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5em;
  a {
    color: #579DCA;
  }
  a:hover {
    text-decoration: none;
  }
}

.badges {
  height: 30px;
  width: 30px;
}

#study {
  list-style-type: none;
    a {
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}




